.inputTextGeneral-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputTextGeneral-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #235959;
}

.inputTextGeneral-box-error {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #bd0808;
    color: tomato;
}

.inputContainer-Simple-closebtn {
    width: 20px;
    filter: invert(19%) sepia(83%) saturate(6773%) hue-rotate(359deg) brightness(96%) contrast(105%);
    cursor: pointer;
}

.inputContainer-Simple-closebtn:hover {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    /* Puedes ajustar la duración de la animación según tus preferencias */
}



.InputTextGeneralStyle{
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--whiteA);
    align-self: center;
    background-color: transparent;
}

.regex-box {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regex-box img {
    width: 20px;
    padding-right: 10px;
}

.regex-box p{
    font-size: 12px;
    font-weight: 800;
    color: rgb(189, 8, 8);
    transition: transform 0.3s ease;
    
}